<%- include("partials/header"); -%>

<h1>Compose</h1>

<div class="box">    

    <form class="" action="/compose" method="post">
        <input type="text" name="postTitle">
        <button type="submit" name="button">Publish</button>
    </form>
</div>

<%- include("partials/footer"); -%>